#splash {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 1665px;
    height: 937px;
    background: #171717 url(./images/Loading.jpg) no-repeat center;
    background-size: 100% 100%;
}